symbol startowy (program), czy na wyższym poziomie można używać breaka. jakie to ma znaczenie/jak to działa. to jest intrrpteter 2+1.
czy chcemy po wpisaniu 2+1, aby wyświetliła się liczba 3, czy coś innego ??(idk)